body {
	text-align: center;
}
div[data-role="header"] {
	padding: 0px;
}
div[data-role="page"] {
	background-image: none;
	background-color: #fff;
}
div[data-role="header"] .ui-btn-text {
	font-size: 1.2em;
}
div[data-role="content"] {
	padding: 0px;
}
.bookBanner {
	display: none;
	background-color: #fff;
	padding: 5px 15px;
	text-align: left;
	height: 50px;
	position: relative;
}
.bookBanner .ui-btn {
	display: inline-block;
	/*近于垂直居中*/
	position: absolute;
	top: 50%;
	margin-top: -17px;
}
.bookBanner p {
	float: right;
	line-height: 50px;
	margin: 0px;
}
ul.resultList {
	margin: 0px !important; 
}
ul.resultList li{
	border: none;
	border-top: 1px dashed #ddd;
}
.ui-li {
	background-image: none;
}
ul.resultList li:first-of-type {
	border-top: none;
}
ul.resultList li:last-of-type {
	border-bottom: 1px solid #ddd;
}
.bookLeft {
	float: left;
	width: 230px;
}
.bookLeft h1 {
	word-wrap: inherit;
	overflow: inherit;
	white-space: inherit;
}
.bookLeft .ui-li-desc {
	margin: 5px;
	word-wrap: inherit;
	overflow: inherit;
	white-space: inherit;
}
.bookRight {
	margin: 5px 0px;
	float: right;
	width: 40px;
	padding-left: 20px;
}
.bookRight p {
	margin: 0px;
	font-size: 1.2em;
	width: 7em;
}
.bookRight p.bookAvailable {
	color: #008800;
}
.bookRight p.bookNotAvailable {
	color: #f00;
}
div.bookFavoriate {
	height: 80px;
}
div.inFavoriate img.inFavoriate {
	display: block;
}
div.inFavoriate img.notInFavoriate {
	display: none;
}
div.notInFavoriate img.inFavoriate {
	display: none;
}
div.notInFavoriate img.notInFavoriate {
	display: block;
}
.clearfix {
	clear: both;
}
div.search {
	height: 55px;
}
div.info {
	height: 55px;
}
div[data-role="page"].bookInfo div.search {
	display: none;
}
div[data-role="page"].bookSearch div.info {
	display: none;
}
div[data-role="page"].bookInit .moreBtn {
	display: none;
}
div[data-role="page"].bookInit div.info {
	display: none;
}
/*如果不加这句hack，那么从初始化界面到我的收藏界面，然后再回到初始化界面，就会发现我的收藏按钮的位置上浮*/
#search.bookInit {
	padding-top: 111px !important;
}
.openFavoriateBtn {
	display: none;
}
div[data-role="page"].bookInit .moreBtn {
	display: none;
}
div[data-role="page"].bookInit .openFavoriateBtn {
	display: inline-block;
}
label.myFavoriateTitle {
	display: inline-block;
	width: 10em;
	height: 55px;
	line-height: 55px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/*为了居中对齐的丑陋的hack，和右边按钮平衡*/
	margin-left: 70px;
}
div.info label {
	display: inline-block;
	width: 10em;
	height: 55px;
	line-height: 55px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
div.info .ui-input-text {
	display: inline-block;
	width: 3em;
}
div.info .ui-btn {
	float: left;
}
div.search .ui-input-search {
	display: inline-block;
	width: 10em;
}
div.search .ui-input-search.error {
	border-color: #f00;
}
.moreBtn {
	margin: 0px;
	border: none;
	border-bottom: solid 1px #ddd;
	position: relative;
}
.moreBtn .ui-btn-inner {
	background-color: #fff;
	background-image: none;
	border: none;
	height: 40px;
}
.moreBtn .ui-btn-text {
	display: inline-block;
	height: 40px;
}
.moreBtn.notLoading img {
	display: none;
}
.moreBtn.loading img {
	width: 40px;
	height: 40px;
	display: inline-block;
}
.moreBtn.notLoading span.moreText {
	line-height: 40px;
	margin: 0px;
	display: inline-block;
}
.moreBtn.loading span.moreText {
	display: none;
}

/*详细页面*/
.ui-dialog {
	background-color: #fff !important;
}
.bookBasicInfo li {
	text-align: left;
	padding-bottom: 5px;
}
.bookBasicInfo li:last-of-type {
	padding-bottom: 0px;
}
.available {
	color: green;
}
.lent {
	color: red;
}
.readonly {
	color: gray;
}
.bookContent {
	text-align: left;
}

/*收藏页面*/
.openSearch {
	float: right;
}
ul.favoriateList {
	margin: 0px !important;
}
ul.favoriateList li{
	border: none;
	border-top: 1px dashed #ddd;
}
ul.favoriateList li:last-of-type {
	border-bottom: 1px dashed #ddd;
}
.favoriateList .favoriateIndex {
}
.favoriateList .favoriateTitle {
	font-weight: bold;
	font-size: 0.8em;
}
.favoriateList .ui-li-desc {
	margin: 5px;
	word-wrap: inherit;
	overflow: inherit;
	white-space: inherit;
}
.favoriateList .ui-btn {
	position: absolute;
	top: 10px;
	right: 5px;
}
.favoriateList.active li:not(.done) {
	display: block;
}
.favoriateList.done li:not(.done) {
	display: none;
}
.favoriateList.done li.done {
	display: block;
}
.favoriateList.active li.done {
	display: none;
}
.favoriateList li.done {
	color: #ddd;
}
.favoriateList li.done .ui-li-heading {
	text-decoration: line-through;
	color: black;
}
.favoriateList li.done .favoriateIndex {
	color: #ddd;
}