body {
	text-align: center;
}
div[data-role="header"] {
	padding: 0px;
}
div[data-role="header"] .ui-btn-text {
	font-size: 1.2em;
}
div[data-role="content"] {
	padding: 0px;
}
ul.resultList {
	margin: 0px !important; 
}
ul.resultList li{
	border: none;
	border-top: 1px dashed #ddd;
}
.ui-li {
	background-image: none;
}
ul.resultList li:first-of-type 
{
	border-top: none;
}
.bookLeft {
	float: left;
	width: 230px;
}
.bookLeft .ui-li-desc {
	margin: 5px;
	word-wrap: inherit;
	overflow: inherit;
	white-space: inherit;
}
.bookRight {
	margin: 5px 0px;
	float: right;
	width: 40px;
	padding-left: 20px;
}
.bookRight p {
	margin: 0px;
	font-size: 1.2em;
}
.bookRight p.bookAvailable {
	color: #008800;
}
.bookRight p.bookNotAvailable {
	color: #f00;
}
div.bookFavoriate {
	height: 80px;
}
div.inFavoriate img.inFavoriate {
	display: block;
}
div.inFavoriate img.notInFavoriate {
	display: none;
}
div.notInFavoriate img.inFavoriate {
	display: none;
}
div.notInFavoriate img.notInFavoriate {
	display: block;
}
.clearfix {
	clear: both;
}
div.info {
	display: none;
}
div.info label {
	display: inline-block;
	width: 14em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
div.info .ui-input-text {
	display: inline-block;
	width: 3em;
}
div.search .ui-input-text {
	display: inline-block;
	width: 14em;
}
ul {
	text-align: center;
}
li {
	text-align: center;
}